.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-center {
  width: 350px;
  background-color: rgb(241, 239, 239);
  box-shadow: 5px 8px 8px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 50px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  margin-bottom: 5px;
  height: 25px;
  font-family: cursive;
}

button {
  color: rgb(9, 71, 71) !important;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}

.mb-3 {
  border-bottom: 1px solid gray !important;
  padding: 5px;
  color: rgb(37, 37, 37);
}

#recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
